USE [master]
GO
/****** Objeto: Database [Biblioteca] Fecha de script: 11/09/2026 5:15:53 ******/
CREATE DATABASE [Biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Biblioteca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Biblioteca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca]
GO
/****** Objeto: Table [dbo].[Autores] Fecha de script: 11/09/2026 5:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Editoriales] Fecha de script: 11/09/2026 5:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editoriales](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Libros] Fecha de script: 11/09/2026 5:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[ISBN] [varchar](20) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[IdAutor] [int] NOT NULL,
	[IdEditorial] [int] NOT NULL,
	[Categoria] [varchar](100) NULL,
	[Anio] [int] NULL,
	[Existencias] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Prestamos] Fecha de script: 11/09/2026 5:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[IdPrestamo] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[FechaPrestamo] [date] NOT NULL,
	[FechaDevolucion] [date] NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 11/09/2026 5:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Documento] [varchar](30) NOT NULL,
	[Telefono] [varchar](30) NULL,
	[Correo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autores] ON 

INSERT [dbo].[Autores] ([IdAutor], [Nombre], [Apellido]) VALUES (1, N'Gabriel', N'García Márquez')
INSERT [dbo].[Autores] ([IdAutor], [Nombre], [Apellido]) VALUES (2, N'Julio', N'Cortázar')
INSERT [dbo].[Autores] ([IdAutor], [Nombre], [Apellido]) VALUES (3, N'Isabel', N'Allende')
SET IDENTITY_INSERT [dbo].[Autores] OFF
GO
SET IDENTITY_INSERT [dbo].[Editoriales] ON 

INSERT [dbo].[Editoriales] ([IdEditorial], [Nombre]) VALUES (1, N'Planeta')
INSERT [dbo].[Editoriales] ([IdEditorial], [Nombre]) VALUES (2, N'Alfaguara')
INSERT [dbo].[Editoriales] ([IdEditorial], [Nombre]) VALUES (3, N'Penguin Random House')
SET IDENTITY_INSERT [dbo].[Editoriales] OFF
GO
INSERT [dbo].[Libros] ([ISBN], [Titulo], [IdAutor], [IdEditorial], [Categoria], [Anio], [Existencias]) VALUES (N'9780060934347', N'Don Quijote de la Mancha', 5, 1, N'Novela', 1605, 6)
INSERT [dbo].[Libros] ([ISBN], [Titulo], [IdAutor], [IdEditorial], [Categoria], [Anio], [Existencias]) VALUES (N'9780141439518', N'Orgullo y prejuicio', 6, 4, N'Novela romántica', 1813, 5)
INSERT [dbo].[Libros] ([ISBN], [Titulo], [IdAutor], [IdEditorial], [Categoria], [Anio], [Existencias]) VALUES (N'9780141439555', N'Prueba 1', 8, 1, N'Pruebas', 2018, 5)
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([IdPrestamo], [IdUsuario], [ISBN], [FechaPrestamo], [FechaDevolucion], [Estado]) VALUES (1, 1, N'9780307474728', CAST(N'2026-08-26' AS Date), NULL, N'Prestado')
INSERT [dbo].[Prestamos] ([IdPrestamo], [IdUsuario], [ISBN], [FechaPrestamo], [FechaDevolucion], [Estado]) VALUES (2, 3, N'9780060934347', CAST(N'2026-08-07' AS Date), NULL, N'Prestado')
INSERT [dbo].[Prestamos] ([IdPrestamo], [IdUsuario], [ISBN], [FechaPrestamo], [FechaDevolucion], [Estado]) VALUES (3, 6, N'9780156012195', CAST(N'2026-08-09' AS Date), NULL, N'Prestado')
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Documento], [Telefono], [Correo]) VALUES (1, N'Ana', N'Pérez', N'1001001001', N'3001234567', N'ana@gmail.com')
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Documento], [Telefono], [Correo]) VALUES (2, N'Carlos', N'Gómez', N'1001001002', N'3012345678', N'carlos@gmail.com')
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Documento], [Telefono], [Correo]) VALUES (3, N'María', N'Rodríguez', N'1001001003', N'3023456789', N'maria@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__AF73706DD23CCD0A] Fecha de script: 11/09/2026 5:15:55 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [FK_Libros_Autores] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autores] ([IdAutor])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [FK_Libros_Autores]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [FK_Libros_Editoriales] FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editoriales] ([IdEditorial])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [FK_Libros_Editoriales]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Libros] FOREIGN KEY([ISBN])
REFERENCES [dbo].[Libros] ([ISBN])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Libros]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Usuarios]
GO
USE [master]
GO
